<h1>Welcome to NXTFolio, <%= @userG.first_name %></h1>
<p>
  You have successfully signed up for NXTFolio. We hope to make your dreams come true here.
</p>
<p>Thanks for joining and have a great day!</p>