<body>
<section id="adminPanel" class="container text-center">
  <div id="ADMINPANEL">

    <h1>
      Job Management Page
    </h1>
   
    <a href="/admin_panel/create" class="btn btn-info">Create Job</a>
    <br>
    <a href="/admin_panel/edit" class="btn btn-info">Edit Job</a>
    <br>
    <a href="/admin_panel/delete" class="btn btn-info">Delete Job</a>

    
  </div>
 </section>

</body>
