<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @name %>,</p>
    <p>Here is a new job posting you may be interested in: </p>
    <p><%= link_to @title, @url %></p>
    <br>
    <p>Best Regards,</p>
    <p>The NXTFolio Team</p>
  </body>
</html>