<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @owner_name %>,</p>
    <p><%= @reviewer_name %> has rated your project <b><%= @project_name %></b> with <%=@rating %> stars.</p>
    <br>
    <p>Best Regards,</p>
    <p>The NXTFolio Team</p>
  </body>
</html>