<h1>Welcome to NXTFolio</h1>
<p>
  Please verify your email by using below code.
  <br>
  <%= @verificationToken %>
  <br>
  Link to the verification page: <%= link_to 'Verify Email', unconfirmed_user_new_url %>
  <br>
</p>
<p>Thank you for your interest and have a great day!</p>