<h1>Welcome to NXTFolio</h1>
<p>
  Please click on the below link to verify your email address.
  <br>
  <%= link_to "Verify your email", new_general_info_url(token: @verificationToken) %>
  <br>
</p>
<p>Thank you for your interest and have a great day!</p>