<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited to collaborate on a project!</h1>
    <p>Hello <%= @invited_name %>,</p>
    <p><%= @inviter_name %> is inviting you to collaborate on the project <b><%= @project_name %></b>.</p>
    <p><a href="<%= @project_url %>">Link to project.</a></p>
    <br>
    <p>Best Regards,</p>
    <p>The NXTFolio Team</p>
  </body>
</html>
