<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited to collaborate on a project!</h1>
    <p>Hello,</p>
    <p>You have been invited to collaborate on a project. To get started, please click the following link to register:</p>
    <p><%= link_to "Register", @url %></p>
    <p>Thank you,</p>
    <p>The Project Team</p>
  </body>
</html>
