
<div class="btn-group" id="category">
  <div class="be-large-post-align text-center">
    <h2 class="info-block-label">Creators</h2>
  </div>
  <button id="Model">Model</button>
  <button id="Photographer">Photographer</button>
  <button id="Everyone">All</button>

  <button id="append">Profession1</button>
  <button id="append">Profession2</button>
  <button id="append">Profession3</button>
</div>