<div class="info-block style-3">
    <div class="btn-group" id="category">
    <div class="be-large-post-align text-center">
        <h2 class="info-block-label">Creators</h2>
    </div>
      <button id="Model">Model</button>
      <button id="Photographer">Photographer</button>
      <button id="Designer">Designer</button>
      <div class="btn-group" id="category">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" id="Agent">Agent</a><br>
          <a class="dropdown-item" id="Everyone">Everyone</a>
        </div>
      </div>
    </div>

    <div class="btn-group" id="category">
    <div class="be-large-post-align text-center">
        <h2 class="info-block-label">Services</h2>
    </div>
      <!-- This is a template structure, the function should be added in application.js -->
      <button id="Profession1">Profession1</button>
      <button id="Profession2">Profession2</button>
      <button id="Profession3">Profession3</button>
      <div class="btn-group" id="category">
        <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
          <a class="dropdown-item" id="Profession4">Profession4</a><br>
          <a class="dropdown-item" id="Everyone2">Everyone</a>
        </div>
      </div>
    </div>

    <div class="btn-group" id="category">
    <div class="be-large-post-align text-center">
        <h2 class="info-block-label">Makers</h2>
    </div>
      <button id="Profession5">Profession5</button>
      <button id="Profession6">Profession6</button>
      <button id="Profession7">Profession7</button>
      <div class="btn-group" id="category">
        <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
          <a class="dropdown-item" id="Profession4">Profession8</a><br>
          <a class="dropdown-item" id="Everyone3">Everyone</a>
        </div>
      </div>
    </div>

</div>