<!--<div class="info-block style-3">-->
<!--    <div id="category">-->
<!--    <div class="be-large-post-align text-center">-->
<!--        <h2 class="info-block-label">Creators</h2>-->
<!--    </div>-->
<!--      <button type="button" id="Brand" class="btn btn-outline-primary brandbutton">Brand Owner</button>-->
<!--      <button type="button" id="Designer" class="btn btn-outline-primary designerbutton">Designer</button>-->
<!--      <button type="button" id="Other_creator" class="btn btn-outline-dark othercreatorbutton">Other Creator</button>-->
<!--      <div id="category">-->
<!--        <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>-->
<!--        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<!--          <a class="dropdown-item agentbutton" id="Agent">Agent</a><br>-->
<!--          <a class="dropdown-item everyonebutton" id="Everyone">Everyone</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div id="category">-->
<!--    <div class="be-large-post-align text-center">-->
<!--        <h2 class="info-block-label">Services</h2>-->
<!--    </div>-->
      <!-- This is a template structure, the function should be added in application.js -->
<!--      <button type="button" id="Model" class="btn btn-outline-dark modelbutton">Model</button>-->
<!--      <button type="button" id="Photographer" class="btn btn-outline-dark photographerbutton">Photographer</button>-->
<!--      <button type="button" id="Influencer" class="btn btn-outline-dark influencerbutton">Influencer</button>-->
<!--      <button type="button" id="Content_creator" class="btn btn-outline-dark contentbutton">Content Creator</button>-->
<!--      <div id="category">-->
<!--        <button id="btnGroupDrop2" type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>-->
<!--        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">-->
<!--          <a class="dropdown-item salesbutton" id="Sales">Sales</a><br>-->
<!--          <a class="dropdown-item marketingbutton" id="Marketing">Marketing</a>-->
<!--          <a class="dropdown-item retailbutton" id="Retail">Retail</a>-->
<!--          <a class="dropdown-item visualbutton" id="Visual">Visual</a>-->
<!--          <a class="dropdown-item bloggerbutton" id="Blogger">Blogger</a>-->
<!--          <a class="dropdown-item financingbutton" id="Financing">Financing</a>-->
<!--          <a class="dropdown-item otherservicesbutton" id="Other_services">Other Services</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div id="category">-->
<!--    <div class="be-large-post-align text-center">-->
<!--        <h2 class="info-block-label">Makers</h2>-->
<!--    </div>-->
<!--      <button type="button" id="Manufacturing" class="btn btn-outline-dark manufacturingbutton">Manufacturing</button>-->
<!--      <button type="button" id="Materials" class="btn btn-outline-dark materialsbutton">Materials</button>-->
<!--      <button type="button" id="Other_makers" class="btn btn-outline-dark othermakersbutton">Other Makers</button>-->
<!--      <div id="category">-->
<!--        <button id="btnGroupDrop3" type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>></button>-->
<!--        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">-->
<!--          <a class="dropdown-item" id="Profession4">Profession8</a><br>-->
<!--          <a class="dropdown-item" id="Everyone3">Everyone</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--</div>-->


<!--</div>-->

<!--CHANGED CODE-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
<div class="info-block style-3 text-center">
  <div id="category" style="padding:15px">
    <div id="test">
      <div class="be-large-post-align text-center">
        <h2 class="info-block-label">Creators</h2>
      </div>
      <nav class="navbar navbar-light" style="flex-flow: row nowrap; display: inline-flex;">
        <div id = "testCreator">

            <button type="button" id="Brand" class="btn btn-outline-dark brandbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Brand+Owner&Country=&State=&City='" >Brand Owner</button>
            <button type="button" id="Designer" class="btn btn-outline-dark designerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Designer&Country=&State=&City='">Designer</button>
            <button type="button" id="Other_creator" class="btn btn-outline-dark othercreatorbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Other+Creator&Country=&State=&City='">Other Creator</button>
        </div>

        <div id="category">
          <button class="navbar-toggler navbar-toggler-left btn btn-outline-dark"
                  id ="button1"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="#navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                  >>
                  <span class="navbar-toggler-icon "></span>
          </button>
        </div>


        <div id = "category" style="text-align: center">
          <div class="collapse width" id="navbarNav">
            <div id = "scroll" class="scroll">
              <button type="button" id="Brand2" class="btn btn-outline-dark brandbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Brand+Owner&Country=&State=&City='">Brand Owner</button>
              <button type="button" id="Designer2" class="btn btn-outline-dark designerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Designer&Country=&State=&City='">Designer</button>
              <button type="button" id="Other_creator2" class="btn btn-outline-dark othercreatorbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Creators&Profession=Other+Creator&Country=&State=&City='">Other Creator</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="category" style="padding:15px">
    <div id="test2">
      <div class="text-center">
        <h2 class="info-block-label">Services</h2>
      </div>
      <!-- This is a template structure, the function should be added in application.js -->
      <nav class="navbar navbar-light" style="flex-flow: row nowrap; display: inline-flex;">
          <div id = "testService">
            <button type="button" id="Model" class="btn btn-outline-dark modelbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Model&Country=&State=&City='">Model</button>
            <button type="button" id="Photographer" class="btn btn-outline-dark photographerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Photographer&Country=&State=&City='">Photographer</button>
            <button type="button" id="Influencer" class="btn btn-outline-dark influencerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Influencer&Country=&State=&City='">Influencer</button>
          </div>


          <div id=category>
            <button class="navbar-toggler btn btn-outline-dark"
              id ="button2"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav2"
              aria-controls="#navbarNav2"
              aria-expanded="false"
              aria-label="Toggle navigation">
              >>
              <span class="navbar-toggler-icon "></span>
            </button>
          </div>
        
          <div id = "category">
          <div class="collapse width" id="navbarNav2">
            <div id = "scroll" class="scroll">
              <button type="button" style="display: inline-block;" id="Model2" class="btn btn-outline-dark modelbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Model&Country=&State=&City='">Model</button>
              <button type="button" style="display: inline-block;" id="Photographer2" class="btn btn-outline-dark photographerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Photographer&Country=&State=&City='">Photographer</button>
              <button type="button" style="display: inline-block;" id="Influencer2" class="btn btn-outline-dark influencerbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Influencer&Country=&State=&City='">Influencer</button>
              <button type="button" style="display: inline-block;" id="Content_creator" class="btn btn-outline-dark contentbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Content+Creator&Country=&State=&City='">Content Creator</button>
              <button type="button" style="display: inline-block;" id="Sales" class="salesbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Sales&Country=&State=&City='">Sales</button>
              <button type="button" style="display: inline-block;" id="Marketing" class="marketingbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Marketing&Country=&State=&City='">Marketing</button>
              <button type="button" style="display: inline-block;" id="Retail" class="retailbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Retail&Country=&State=&City='">Retail</button>
              <button type="button" style="display: inline-block;" id="Visual" class="visualbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Visual&Country=&State=&City='">Visual</button>
              <button type="button" style="display: inline-block;" id="Stylist" class="stylistbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Stylist&Country=&State=&City='">Stylist</button>
              <button type="button" style="display: inline-block;" id="Blogger" class="bloggerbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Blogger&Country=&State=&City='">Blogger</button>
              <button type="button" style="display: inline-block;" id="Forecasting" class="forecastingbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Forecasting&Country=&State=&City='">Forecasting</button>
              <button type="button" style="display: inline-block;" id="Financing" class="financingbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Financing&Country=&State=&City='">Financing</button>
              <button type="button" style="display: inline-block;" id="Other Services" class="otherservicesbutton btn btn-outline-dark" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Services&Profession=Other+Services&Country=&State=&City='">Other Services</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="category" style="padding:15px">
    <div id="test3">
      <div class="be-large-post-align text-center">
        <h2 class="info-block-label">Makers</h2>
      </div>
      <nav class="navbar navbar-light" style="flex-flow: row nowrap; display: inline-flex;">
        <div id="testMaker">
          <button type="button" id="Manufacturing" class="btn btn-outline-dark manufacturingbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Manufacturing&Country=&State=&City='">Manufacturing</button>
          <button type="button" id="Materials" class="btn btn-outline-dark materialsbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Materials&Country=&State=&City='">Materials</button>
          <button type="button" id="Other_makers" class="btn btn-outline-dark othermakersbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Other+Makers&Country=&State=&City='">Other Makers</button>
        </div>

        <div id=category>
          <button class="navbar-toggler navbar-toggler-left btn btn-outline-primary"
              id = "button3"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav3"
              aria-controls="#navbarNav3"
              aria-expanded="false"
              aria-label="Toggle navigation">
              >>
            <span class="navbar-toggler-icon "></span>
          </button>
        </div>



        <div id = "category" style="text-align: center;">
          <div class="collapse width" id="navbarNav3" style="text-align: center;">
            <div id = "scroll" class = "scroll" style="text-align: center;">
                <button type="button" id="Manufacturing2" class="btn btn-outline-dark manufacturingbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Manufacturing&Country=&State=&City='">Manufacturing</button>
                <button type="button" id="Materials2" class="btn btn-outline-dark materialsbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Materials&Country=&State=&City='">Materials</button>
                <button type="button" id="Other_makers2" class="btn btn-outline-dark othermakersbutton" onclick="window.location.href='search_engine/search?utf8=✓&Keyword=&Industry=Markers&Profession=Other+Makers&Country=&State=&City='">Other Makers</button>

            </div>
          </div>
        </div>



      </nav>
    </div>
  </div>
  </div>

  <style>


      /*@media screen and (min-width:1200px) and (max-width:1500px) {
          #Other_creator {
              display: none;
          }
          #Influencer {
              display: none;
          }
          #Other_makers {

              display: none;
          }

      }*/

      .scroll{
          width: 75vw;
          overflow: auto;
          white-space: nowrap;

      }
      @media screen and (max-width: 560px)
      {
          .scroll{
              overflow: auto;
              white-space: nowrap;

          }
      }
      .scroll::-webkit-scrollbar {
          width: 5px;

      }
      .scroll::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
      }
      .scroll::-webkit-scrollbar-thumb {
          background: darkgrey;
          border-radius: 10px;
      }
      .scroll::-webkit-scrollbar-thumb:hover {
          background: grey;
      }
  </style>

  <script>
      const targetDiv = document.getElementById("test2");
      const targetDivCreator = document.getElementById("testCreator");
      const targetDiv2 = document.getElementById("test3");
      const btn = document.getElementById("button1");
      btn.onclick = function () {
          if (targetDiv.style.display !== "none" || targetDivCreator.style.display !== "none" || targetDiv2.style.display !== "none") {
              targetDiv.style.display = "none";
              targetDivCreator.style.display = "none";
              targetDiv2.style.display = "none";
              btn.textContent = "<<"
          } else {
              targetDiv.style.display = "block";
              targetDivCreator.style.display = "block";
              targetDiv2.style.display = "block";
              btn.textContent = ">>"
          }
      };

      const targetDiv3 = document.getElementById("test");
      const targetDivService = document.getElementById("testService");
      const targetDiv4 = document.getElementById("test3");
      const btn2 = document.getElementById("button2");
      btn2.onclick = function () {
        if (targetDiv3.style.display !== "none" || targetDivService.style.display !== "none" || targetDiv4.style.display !== "none") {
            targetDiv3.style.display = "none";
            targetDivService.style.display = "none";
            targetDiv4.style.display = "none";
            btn2.textContent = "<<"
        } else {
            targetDiv3.style.display = "block";
            targetDivService.style.display = "block";
            targetDiv4.style.display = "block";
            btn2.textContent = ">>"
        }
      };

      const targetDiv5 = document.getElementById("test");
      const targetDivMaker = document.getElementById("testMaker");
      const targetDiv6 = document.getElementById("test2");
      const btn3 = document.getElementById("button3");
      btn3.onclick = function () {
          if (targetDiv5.style.display !== "none" || targetDivMaker.style.display !== "none" || targetDiv6.style.display !== "none") {
              targetDiv5.style.display = "none";
              targetDivMaker.style.display = "none";
              targetDiv6.style.display = "none";
              btn3.textContent = "<<"
          } else {
              targetDiv5.style.display = "block";
              targetDivMaker.style.display = "block";
              targetDiv6.style.display = "block";
              btn3.textContent = ">>"
          }
      };
  </script>
</div>



