<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" style="padding: 5px;">
        <img src="<%= asset_path 'logo.png' %>" style="filter: brightness(0) invert(1);">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>

        <% if session[:current_user_key] && session[:is_admin] == true %>
            <li>
              <a class="page-scroll" href="/add_profession/" rel="stylesheet">Add Profession</a>
            </li>
        <% end %>
        <li>
          <a class="page-scroll" href="/show_profile/" rel="stylesheet">My Profile</a>
        </li>
        <li>
          <a class="page-scroll" href="/search_engine/show">Search</a>
        </li>
        <% if session[:current_user_key] %>
          <li>
            <a class="page-scroll" href="/logout/">Logout</a>
          </li>
        <% else %>
          <li>
            <a class="page-scroll" href="/login_info/new" id="signUpButtonID">Sign Up</a>
          </li>
          <li>
            <a class="page-scroll" href="/login_info/login" id="loginLogoutButtonID">Login</a>
          </li>
        <% end %>
        <!--<li>-->
        <!--<a class="page-scroll" href="#postJob">Post Job</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="page-scroll" href="#contact">Contact</a>-->
        <!--<a class="page-scroll" href="#postJob">Post Job</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="page-scroll" href="#contact">Contact</a>-->
        <!--</li>-->
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
