<h2> <%= @gallery.gallery_title %> </h2>
<p> <%= @gallery.gallery_description %> </p>

<div id="gallery">
  <h2>All Images</h2>
  <% if @gallery.present? %>
    <% @gallery.gallery_picture.each do |image| %>
      <div class="row">
        <div class="photo-img">
            <img src="<%= image.url %>" alt="omg">
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There are no images.</p>
  <% end %>
</div>

<a class="btn full color-1 size-1 hover-1" href="/" method="get"><i class="fa fa-chevron-left"></i>Back</a>