/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* STANDARD TAG REDEFINITIONS */
BODY{ color: Black; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; background-color: #F1F1F1; margin: 0; padding: 0; }
TD {font-size: 10pt;  }
p { font-size: 10pt;  margin-bottom: 7px; margin-top: 0; }
a{ color: white; text-decoration: none; }
a:hover{	text-decoration: underline;  color: black;   }
form{	margin:0;}

#HEADER{ width:100%; margin-left:auto; margin-right:auto;}
#HEADER ul{ margin: 0; padding-left: 0; height: 44px; line-height: 44px; display: block; list-style: none; background-color: black; background-image: url(bg_topnav.gif); background-repeat: no-repeat;  }
#HEADER li{ display: inline; background-color: black;  float: right;  }
#HEADER li a{ height: 44px; line-height: 44px; display: block; padding-left: 27px; padding-right: 27px; border-left: 1px solid #F1F1F1;  float: left;     }
#HEADER li a:hover{ background-color: white; text-decoration: none;}
h1{ margin: 0; padding: 40px 0 0 0; font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: Black;  font-size: 20pt;  }

#TITLE{width:1000px; margin-left:auto; margin-right:auto; text-align: center; background-color: White;}
#TITLE h1{font-size: 40pt;}

#HOMEPAGEIMAGE{width:1000px; margin-left:auto; margin-right:auto;}

#CONTENT{ width:1000px; height: 100%; margin-left:auto; margin-right:auto; background-color: White; }
h2{ margin: 0; padding: 24px 0 7px 40px; font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: Black; font-size: 15pt; }
#TEXT{ padding: 35px 40px 35px 40px; border-bottom: 1px solid #484848; border-top: 1px solid #484848; background-color: White; }
#TEXT p{	margin-bottom: 1em;}

#FOOTER{	width:1000px; margin-top:27px; margin-left:auto; margin-right:auto;  border-top: 4px solid #363636;  text-align: right;  padding-top: 5px;   }
#FOOTER p{ font-size: 11px; line-height: 14px; margin: 0;  color: #DDDDDD; }
#FOOTER a{ font-size: 11px;	font-weight: normal;	text-decoration: none;  color: Black;    }
#FOOTER a:hover{ color: Black; text-decoration: underline; }



