.forgot{
    color: white;
    background-color: transparent;
    text-decoration: none;
}


#custom-project-title{
    font-weight: 700;
    font-size: 18px;
    font-color: black;
}

.average-review-rating{

    max-height: 25px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

#custom-profile-name{
    font-size: 14px;
    font-color: black;
}

#custom-project-title:hover {
    text-decoration: underline;
}

#custom-profile-name:hover {
    text-decoration: underline;
}

#custom-location-input{
    margin-bottom: 10px;
}

#custom-sec{
    background-color: papayawhip;
}

#bckimage{

}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}