<body>
<section id="adminPanel" class="container text-center">
  <div id="ADMINPANEL">
    <h1>
      <b>GENERAL INFORMATION</b>
    </h1>
   
    <a href="/admin/create" class="btn btn-info">Create Job</a>
    <br>
    <a href="/admin/edit" class="btn btn-info">Edit Job</a>
    <br>
    <a href="/admin/delete" class="btn btn-info">Delete Job</a>

    
  </div>
 </section>

</body>
