<!DOCTYPE html>
<html lang="en">
<%= render :partial => "/layout/header" %>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<%= render :partial => "/layout/navigation" %>
<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">FashioNXT</h1>
          <p class="intro-text">Your fashion search begins here
            <br></p>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="adminTest">
  <div>
    <a href="/admin/create" class="btn btn-default btn-lg">Admin Create</a>
    <a href="/admin/edit" class="btn btn-default btn-lg">Admin Edit</a>
    <a href="/admin/delete" class="btn btn-default btn-lg">Admin Delete</a>
  </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact FashionXT</h2>
      <p>Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
      <p><a href="mailto:support@fashionxt.com">support@fashionxt.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://www.twitter.com/fashionxtonline" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/fashionxtonline" class="btn btn-default btn-lg"><i class="fa fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="http://instagram.com/fashionxtonline" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
        <li>
          <a href="https://www.pinterest.com/fashionxtonline/" class="btn btn-default btn-lg"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name">Pinterest</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<%= render :partial => "/layout/javascripts" %>
</body>
<%= render :partial => "/layout/footer" %>
</html>
