<%= render :partial => "/layout/header" %>
<body>
  <%= render :partial => "/layout/body" %>
  <div id="HOMEPAGECONTAINER">
    <div id="TITLE">
      <h1>FashionLinks</h1>
      <p>Brought to you by Team TAMU-PROR</p>
    </div>
    <div id="CONTENT">
      <h2>Getting Started!</h2>
      <div id="TEXT">
        <p>Create a profile.</p>
        <p>Search for others by profession.</p>
        <p>Then connect with other fashion professionals!</p>
      </div>
    </div>
  </div>
</body>
