%head
  %title Match My Fashion
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %h1 Match My F
  %p Howdy World
  %P Login OR SignUp
  %img{:src => "https://images8.alphacoders.com/414/414613.jpg"}
  = yield
