= render :partial => "/layout/header"

%body

  = render :partial => "/layout/body"
  #HOMEPAGECONTAINER
    #TITLE
      %h1 FashionLinks
      %p Brought to you by Team TAMU-PROR
    
    #CONTENT
      %h2 Getting Started!
      #TEXT
        %p Create a profile.
        %p Search for others by profession.
        %p Then connect with other fashion professionals!
        
