%h1 Sign Up - Model Profile
You're all finished!



//%br
//%br
//Proof:
//%br
//Hair Color: 
//= @specific_model.hair_color
//%br
//Eye Color:
//= @specific_model.eye_color
//%br
//Genres:
//= @genre_str